.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    left,
    #ce5937 0%,
    #1c6ea4 50%,
    #c59237 100%
  );
}

.row {
  position: relative;
}

.container {
  position: absolute;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  background: white;
  border-radius: 30px;
  top: -30vh;
}

.container > img {
  width: 100%;
}
